* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: rgb(46, 46, 46);
}

.title {
  text-align: center;
  width: 100%;
  font-size: 3rem;
  font-weight: bolder;
  color: white;
  background-color: rgb(22, 22, 22);
  padding: 1rem;
}

.content-section {
  display: flex;
  flex-direction: row;
  padding: 1rem;

}

aside {
  color: white;
  border: solid red;
  width: 30%;
  height: 90%;
}

main {
  color: white;
  border: solid blue;
  height: 90%;
  width: 70%;
  padding: 1rem;
}

main section {
  border: solid green;
  padding: 1rem;
}

.searched-city {
  font-size: 2.5rem;
}

.city-details {
  margin: 1rem 0;
  font-size: 1.4rem;
}

/* Card */
.card-icon {
  width: 3rem;
}

.card {
  display: flex;
  border: solid pink;
  flex-direction: column;
  padding: 1.3rem;
  height: 8rem;
}

.cards-container {
  display: flex;
  flex-direction: row;
  padding: 1rem;
}