* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

.container {
  display: flex;
  justify-content: center;
}

.title {
  display: flex;
  justify-content: center;
  text-align: center;
  top: 40%;
}